/* -*- coding: utf-8; mode: css -*-
 *
 * Project specific customization of the sphinx_rtd_theme
 *
 * Partly inspired by
 * https://github.com/torvalds/linux/blob/master/Documentation/sphinx-static/theme_overrides.css
 * https://github.com/conda/conda/blob/master/docs/source/_static/css/custom.css
 */

/* Allow wrapping inside tables */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

/* Force automatic column width (the parser is often times to generous) */
.wy-table-responsive table col {
    width: auto !important;
}

/* Headlines that are consistent with body font */
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Lato","Proxima Nova","Helvetica Neue","Arial",sans-serif;
}

/* Use subtler color for code blocks */
div.highlight {
    background: #f4f4f4;
}

/* Drop the red color, change background for inline literals */
.rst-content tt, .rst-content code {
    color: inherit;
    background: #f4f4f4;
    font-size: 85%;
}
.rst-content tt.literal,.rst-content tt.literal,.rst-content code.literal {
    color: inherit;
}

/* Exclude referencing inline literals */
.rst-content code.xref {
    border: none;
    padding: unset;
    background: unset;
}

/* Subtler argument and option signature for click commands */
.rst-content .click-cmd code.descclassname {
    font-weight: normal;
}

/* Don't cramp braces in Python signature */
.rst-content dl dt span.sig-paren {
    padding-left: 2px;
    padding-right: 2px;
}

/* Subtler formatting for Python parameters and defaults of parameter
   descriptions.
 */
.rst-content dl dt {
    font-weight: normal;
}

/* Content column
 *
 * RTD theme's default is 800px as max width for the content, use larger
 * value to take advantage of modern screens.
 */
@media screen {
    .wy-nav-content {
        max-width: 900px;
    }
}

/*
 * Make sidebar monochrome.
 * See https://gitlab.gnome.org/GNOME/pygobject/blob/master/docs/extra.css
 */
.wy-side-nav-search {
    background-color: initial;
}
.wy-nav-top {
    background-color: #343131;
}
.wy-nav-side {
    background-color: #343131;
}

/* Change color of sidebar captions. */
.wy-menu-vertical p.caption {
    color: #00aa88;
}

/* Signature documentation (parameters, returns, exceptions, ...) */
.rst-content dl:not(.docutils) dl.field-list dt.field-odd,
.rst-content dl:not(.docutils) dl.field-list dt.field-even {
    padding-left: 0;
    border: unset;
    background: unset;
    font-size: 16px;
    font-weight: bold;
    color: #404040;
}
.rst-content dl:not(.docutils) dl.field-list dd.field-odd,
.rst-content dl:not(.docutils) dl.field-list dd.field-even {
    margin-left: 10px;
    padding-left: 12px;
    border-left: solid 2px #e1e4e5;
}

/* Parameter line */
.rst-content dl:not(.docutils) dl.field-list dd dl dt {
    border-left: none;
    background: initial;
    color: #404040;
}
/* Parameter types */
.classifier:before {
    content: " : ";
}

.rst-content .viewcode-link {
    padding-left: 24px;
}

/* Copybutton */
.copybutton {
    opacity: 0.3;
    transition: opacity 0.5s;
}

.highlight:hover .copybutton {
    opacity: 1;
}

/* Fix spacing in local TOC directive */
.rst-content .section ul p {
    margin-bottom: 0;
}
